{% extends "baza.html" %}

{% block content %}

    <main role="main" class="container">
<h1><br><br><br>Zaloguj się na swoje konto<br></h1>

<div class="thing">


            <form action="/login" method="POST" class="form-group">

            <div class="form-group">
                <input type="email" name="email" placeholder="Email" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Haslo" class="form-control" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-dark mybtn">Zaloguj</button>
                <a href="/signup" class="btn btn-block btn-dark  mybtn link">Zarejestruj</a>
            </div>
            </form>
</div>
    </main><!-- /.container -->

  {% endblock %}